@{
    Layout = "~/Views/Shared/_LightBoxLayout.cshtml";
}
<script src="~/Content/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/Content/js/jquery-1.12.0.min.js"></script>
<script src="~/Content/autocomplete/jquery-ui.js"></script>
@{
    String fdate = DateTime.Now.Date.ToString("yyyy-MM-dd");
    fdate = fdate + "T00:00";
}
<div id="select_date">
    Date:<input data-val="true" data-val-date="The field FollowDate must be a date." id="fdate" name="fdate" class="form-control" placeholder="DD-MM-YYYY" value=@fdate type="datetime-local" onchange="reload_dialog(event)">
</div>
<div id="load_followupdata">
    <iframe src='@Url.Action("FollowupList", "Home", new { fdate = fdate })' id="followup-iframe" width="100%" height="2000" style="min-height:500px;" frameborder="0"></iframe>
</div>


<script type="text/javascript">
function reload_dialog(e) {
        var ffdate = document.getElementById("fdate").value;
        document.getElementById('followup-iframe').src = ('@Url.Action("FollowupList", "Home", new { fdate = "ID" })'.replace("ID", ffdate));
}
</script>