@{
    ViewBag.Title = "ImageLightbox";
    Layout = "~/Views/Shared/_LightBoxLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />

    <!-- filestart -->
    @*<link rel="icon" type="image/vnd.microsoft.icon" href="./demo/img/favicon.ico" />*@
    <link href="~/Content/drawimage/demo/demo.css" rel="stylesheet" />
    <script src="~/Content/drawimage/lib/jquery.1.10.2.min.js"></script>
    <!-- fileend -->
    <!-- SCRIPT FOR TABS STARTS -->
    <script src="~/Content/autocomplete/jquery-1.12.4.js"></script>
    <script src="~/Content/autocomplete/jquery-1.12.0.js"></script>
    <script src="~/Content/autocomplete/jquery-ui.js"></script>
    <link href="~/Content/autocomplete/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">
        jQuery( function() {
            jQuery( "#tabs" ).tabs();
        } );
    </script>
    <!-- SCRIPT FOR TABS ENDS -->
    <!-- SCRIPT FOR IMAGE DRAWING STARTS -->
    <!-- jQuery UI -->
    <script src="~/Content/drawimage/lib/jquery.ui.core.1.10.3.min.js"></script>

    <script src="~/Content/drawimage/lib/jquery.ui.widget.1.10.3.min.js"></script>
    <script src="~/Content/drawimage/lib/jquery.ui.mouse.1.10.3.min.js"></script>
    <script src="~/Content/drawimage/lib/jquery.ui.draggable.1.10.3.min.js"></script>

    <!-- wColorPicker -->
    <link href="~/Content/drawimage/lib/wColorPicker.min.css" rel="stylesheet" />
    <script src="~/Content/drawimage/lib/wColorPicker.min.js"></script>
    <!-- wPaint -->

    <script src="~/Content/drawimage/wPaint.min.js"></script>
    <link href="~/Content/drawimage/wPaint.min.css" rel="stylesheet" />


    <script src="~/Content/drawimage/plugins/main/wPaint.menu.main.min.js"></script>

    <script src="~/Content/drawimage/plugins/text/wPaint.menu.text.min.js"></script>

    <script src="~/Content/drawimage/plugins/shapes/wPaint.menu.main.shapes.min.js"></script>
    <script src="~/Content/drawimage/plugins/file/wPaint.menu.main.file.min.js"></script>

    <script type="text/javascript">
        var images = [
          'Content/drawimage/test/uploads/wPaint.png',
        ];


        function saveImg(image) {
            var _this = this;

            var activeTabIdx = $('#tabs').tabs('option','active');
            var selector = '#tabs > ul > li > a';
            var activeTabID = $(selector).eq(activeTabIdx).attr('href');
            activeTabID = activeTabID[activeTabID.length -1];
            alert(activeTabID);
            var dataURL = $("#wPaint").wPaint("image");
            alert(dataURL);
            $.ajax({
                type: "POST",
                url: "/Home/ImageLightbox/?data=" + dataURL.toString() + "&imageID=" + activeTabID,
                data: {
                    imgBase64: dataURL
                },
                success: function (resp) {
                    // internal function for displaying status messages in the canvas
                    _this._displayStatus('Image saved successfully');

                    // doesn't have to be json, can be anything
                    // returned from server after upload as long
                    // as it contains the path to the image url
                    // or a base64 encoded png, either will work
                    resp = $.parseJSON(resp);
                    // update images array / object or whatever
                    // is being used to keep track of the images
                    // can store path or base64 here (but path is better since it's much smaller)
                    images.push(resp.img);
                    // do something with the image
                    $('#wPaint-img').attr('src', image);
                }
            });
        }
        function secondimg(){
            alert("Second Image");
            var _this = this;

            var activeTabIdx = $('#tabs').tabs('option','active');
            var selector = '#tabs > ul > li > a';
            var activeTabID = $(selector).eq(activeTabIdx).attr('href');
            activeTabID = activeTabID[activeTabID.length -1];
            alert(activeTabID);
            var dataURL = $("#wPaint2").wPaint("image");
            alert(dataURL);
            $.ajax({
                type: "POST",
                url: "/Home/ImageLightbox/?data=" + dataURL.toString() + "&imageID=" + activeTabID,
                data: {
                    imgBase64: dataURL
                },
                success: function (resp) {
                    // internal function for displaying status messages in the canvas
                    _this._displayStatus('Image saved successfully');

                    // doesn't have to be json, can be anything
                    // returned from server after upload as long
                    // as it contains the path to the image url
                    // or a base64 encoded png, either will work
                    resp = $.parseJSON(resp);
                    // update images array / object or whatever
                    // is being used to keep track of the images
                    // can store path or base64 here (but path is better since it's much smaller)
                    images.push(resp.img);
                    // do something with the image
                    $('#wPaint-img').attr('src', image);
                }
            });
        }
        //  $.ajax({
        //    type: 'POST',
        //    url: './Content/drawimage/test/upload.php',
        //    data: {image: image},
        //    success: function (resp) {

        //      // internal function for displaying status messages in the canvas
        //      _this._displayStatus('Image saved successfully');

        //      // doesn't have to be json, can be anything
        //      // returned from server after upload as long
        //      // as it contains the path to the image url
        //      // or a base64 encoded png, either will work
        //      resp = $.parseJSON(resp);

        //      // update images array / object or whatever
        //      // is being used to keep track of the images
        //      // can store path or base64 here (but path is better since it's much smaller)
        //      images.push(resp.img);

        //      // do something with the image
        //      $('#wPaint-img').attr('src', image);
        //    }
        //  });
        //}

        function loadImgBg() {

            // internal function for displaying background images modal
            // where images is an array of images (base64 or url path)
            // NOTE: that if you can't see the bg image changing it's probably
            // becasue the foregroud image is not transparent.
            this._showFileModal('bg', images);
        }

        function loadImgFg() {

            // internal function for displaying foreground images modal
            // where images is an array of images (base64 or url path)
            this._showFileModal('fg', images);
        }

        // init wPaint
        $('#wPaint').wPaint({
            menuOffsetLeft: -35,
            menuOffsetTop: -50,
            saveImg: saveImg,
            loadImgBg: loadImgBg,
            loadImgFg: loadImgFg
        });

        $('#wPaint2').wPaint({
            menuOffsetLeft: -35,
            menuOffsetTop: -50,
            saveImg: secondimg,
            loadImgBg: loadImgBg,
            loadImgFg: loadImgFg
        });
    </script>

    <!-- SCRIPT FOR IMAGE DRAWING ENDS -->
    @*CSS ADDED BY ME*@
    <style type="text/css">
        #tabs #content {
            padding-top: 0px;
        }

        .wPaint-canvas {
            /*background: url("/Content/Images/patient_drawing_image_bg.png") no-repeat;*/
            text-align: center;
            background-color: #fff;
            background-position: center;
            border: 2px solid #000;
            min-height: 250px;
            margin: 0 auto;
            padding: 0;
            width: 100%;
        }
        #wPaint .wPaint-canvas {
            background: url("/Content/Images/patient_drawing_image_bg.jpg") no-repeat;
            background-color: #fff;
            background-position: center;
        }
        #wPaint2 .wPaint-canvas {
            background: url("/Content/Images/patient_drawing_image_bg2.png") no-repeat;
            background-color: #fff;
            background-position: center;
        }
    </style>
</head>
<body>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">First Image</a></li>
            <li><a href="#tabs-2">Second Image</a></li>
        </ul>
        <span id="current"></span>
        <div id="tabs-1">
            <div id="content">
                <div class="content-box">
                    <div id="wPaint" style="position:relative; width:500px; height:200px; background-color:#7a7a7a; margin:70px auto 20px auto;"></div>
                    @*<center style="margin-bottom: 50px;">
                        <input type="button" value="toggle menu" onclick="console.log($('#wPaint').wPaint('menuOrientation')); $('#wPaint').wPaint('menuOrientation', $('#wPaint').wPaint('menuOrientation') === 'vertical' ? 'horizontal' : 'vertical');" />
                    </center>*@
                    <center id="wPaint-img"></center>
                </div>
            </div>
        </div>
        <div id="tabs-2">
            <div id="content">
                <div class="content-box">
                    <div id="wPaint2" style="position:relative; width:500px; height:200px; background-color:#7a7a7a; margin:70px auto 20px auto;"></div>
                    @*<center style="margin-bottom: 50px;">
                        <input type="button" value="toggle menu" onclick="console.log($('#wPaint2').wPaint('menuOrientation')); $('#wPaint2').wPaint('menuOrientation', $('#wPaint2').wPaint('menuOrientation') === 'vertical' ? 'horizontal' : 'vertical');" />
                    </center>*@
                    <center id="wPaint-img"></center>
                </div>
            </div>
        </div>
    </div>

    <!-- headstart -->
    @*<header>
        <a id="header-logo" href="http://websanova.com"></a>
        <div id="header-links">
            <a href="http://websanova.com">Blog</a>
            <a href="http://websanova.com/plugins">Plugins</a>
            <a href="http://websanova.com/extensions">Extensions</a>
            <a href="http://websanova.com/services">Services</a>
        </div>
    </header>*@
    <!-- headend -->
    @*<div id="content">
        <div class="content-box">
            <!-- jQuery UI -->
            <script src="~/Content/drawimage/lib/jquery.ui.core.1.10.3.min.js"></script>

            <script src="~/Content/drawimage/lib/jquery.ui.widget.1.10.3.min.js"></script>
            <script src="~/Content/drawimage/lib/jquery.ui.mouse.1.10.3.min.js"></script>
            <script src="~/Content/drawimage/lib/jquery.ui.draggable.1.10.3.min.js"></script>

            <!-- wColorPicker -->
            <link href="~/Content/drawimage/lib/wColorPicker.min.css" rel="stylesheet" />
            <script src="~/Content/drawimage/lib/wColorPicker.min.js"></script>
            <!-- wPaint -->

            <script src="~/Content/drawimage/wPaint.min.js"></script>
            <link href="~/Content/drawimage/wPaint.min.css" rel="stylesheet" />


            <script src="~/Content/drawimage/plugins/main/wPaint.menu.main.min.js"></script>

            <script src="~/Content/drawimage/plugins/text/wPaint.menu.text.min.js"></script>

            <script src="~/Content/drawimage/plugins/shapes/wPaint.menu.main.shapes.min.js"></script>
            <script src="~/Content/drawimage/plugins/file/wPaint.menu.main.file.min.js"></script>
            <div id="Select_Images">
                <input type="radio" Name="image1" id="First_Image" value="First Image" />First Name
                <input type="radio" Name="image1" id="Second_Image" value="First Image" />Second Name
            </div>
            <div id="wPaint" style="position:relative; width:500px; height:200px; background-color:#7a7a7a; margin:70px auto 20px auto;"></div>
            <center style="margin-bottom: 50px;">
                <input type="button" value="toggle menu" onclick="console.log($('#wPaint').wPaint('menuOrientation')); $('#wPaint').wPaint('menuOrientation', $('#wPaint').wPaint('menuOrientation') === 'vertical' ? 'horizontal' : 'vertical');" />
            </center>
            <center id="wPaint-img"></center>

            <script type="text/javascript">
                var images = [
                  './Content/drawimage/test/uploads/wPaint.png',
                ];

                function saveImg(image) {

                    var _this = this;
                    var dataURL = $("#wPaint").wPaint("image");
                    alert(dataURL);
                    $.ajax({
                        type: "POST",
                        url: "/Home/DrawImage/?data=" + dataURL.toString() + "&imgID=" + @ViewBag.imgID,
                        data: {
                            imgBase64: dataURL
                        },
                        success: function (resp) {
                            // internal function for displaying status messages in the canvas
                            _this._displayStatus('Image saved successfully');

                            // doesn't have to be json, can be anything
                            // returned from server after upload as long
                            // as it contains the path to the image url
                            // or a base64 encoded png, either will work
                            resp = $.parseJSON(resp);
                            // update images array / object or whatever
                            // is being used to keep track of the images
                            // can store path or base64 here (but path is better since it's much smaller)
                            images.push(resp.img);
                            // do something with the image
                            $('#wPaint-img').attr('src', image);
                        }
                    });
                }


                //  $.ajax({
                //    type: 'POST',
                //    url: './Content/drawimage/test/upload.php',
                //    data: {image: image},
                //    success: function (resp) {

                //      // internal function for displaying status messages in the canvas
                //      _this._displayStatus('Image saved successfully');

                //      // doesn't have to be json, can be anything
                //      // returned from server after upload as long
                //      // as it contains the path to the image url
                //      // or a base64 encoded png, either will work
                //      resp = $.parseJSON(resp);

                //      // update images array / object or whatever
                //      // is being used to keep track of the images
                //      // can store path or base64 here (but path is better since it's much smaller)
                //      images.push(resp.img);

                //      // do something with the image
                //      $('#wPaint-img').attr('src', image);
                //    }
                //  });
                //}

                function loadImgBg() {

                    // internal function for displaying background images modal
                    // where images is an array of images (base64 or url path)
                    // NOTE: that if you can't see the bg image changing it's probably
                    // becasue the foregroud image is not transparent.
                    this._showFileModal('bg', images);
                }

                function loadImgFg() {

                    // internal function for displaying foreground images modal
                    // where images is an array of images (base64 or url path)
                    this._showFileModal('fg', images);
                }

                // init wPaint
                $('#wPaint').wPaint({
                    menuOffsetLeft: -35,
                    menuOffsetTop: -50,
                    saveImg: saveImg,
                    loadImgBg: loadImgBg,
                    loadImgFg: loadImgFg
                });
            </script>
        </div>
    </div>*@
    <!-- footstart -->
    @*<footer>
        <div id="footer-icons">
            <a id="stumbleupon-icon" href="http://websanova.com/stumbleupon" target="_blank"></a>
            <a id="linkedin-icon" href="http://websanova.com/linkedin" target="_blank"></a>
            <a id="facebook-icon" href="http://websanova.com/facebook" target="_blank"></a>
            <a id="googleplus-icon" href="http://websanova.com/googleplus" target="_blank"></a>
            <a id="twitter-icon" href="http://websanova.com/twitter" target="_blank"></a>
            <a id="github-icon" href="http://websanova.com/github" target="_blank"></a>
            <a id="rss-icon" href="http://websanova.com/feed" target="_blank"></a>
        </div>
    </footer>*@
    <!-- footend -->
</body>
</html>
