<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="webcamHead">
    <title></title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>  
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery.webcam.js"></script>

    <script type="text/javascript">
        //var pageUrl = 'http://localhost:50409/Home/Webcam';
        var pageUrl = document.location.hostname;
        $(function () {
    jQuery("#webcam").webcam({
        width: 320,
        height: 240,
        mode: "save",
        swffile: '../../Content/js//swf/jscam.swf',
        debug: function (type, status) {
            $('#camStatus').append(type + ": " + status + '<br /><br />');
        },
        onSave: function (data) {
            $.ajax({
                type: "POST",
                url: pageUrl + "/Home/Webcam",
                data: '',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert("Image Save success");
                    //$("[id*=imgCapture]").css("visibility", "visible");
                    $("[id*=imgCapture]").attr("src", r.d);

                    //canvas = document.getElementById('capturedimage');
                    //ctx = canvas.getContext("2d");
                    //var img = document.getElementById("imgCapture");
                    //ctx.drawImage(img, 0, 0);
                    //var dataURL = canvas.toDataURL();
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        },
        onCapture: function () {
            webcam.save(pageUrl);
        }
    });
});
function Capture() {
    webcam.capture();
    return true;
}
    </script>
    <form id="form1">
        <table border="0" cellpadding="0" cellspacing="0">
            @*<tr>
                <td align="center">
                    <u>Live Camera</u>
                </td>
                <td></td>
                <td align="center">
                    <u>Captured Picture</u>
                </td>
            </tr>*@
            <tr>
                <td>
                    <div id="webcam">
                    </div>
                </td>
                @*<td>
                    &nbsp;
                </td>*@
                @*<td>*@
                    <img id="imgCapture" style="visibility:hidden; width:320px; height:240px;" />
                <canvas id="capturedimage"></canvas>
                @*</td>*@
            </tr>
        </table>
        <br />
        <button ID="btnCapture" onclick="return Capture();">Capture</button>
        <br />
        @*<span id="camStatus"></span>*@
    </form>
</body>
</html>


