################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DoctorWeb/DoctorWeb/obj/Debug
/DoctorWeb/DoctorWeb/bin
/DoctorWeb/DoctorWeb/Content/Images
/DoctorWeb/packages/Grid.Mvc.3.0.0
