################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DoctorWeb/DoctorWeb/obj/Debug
