
@{
    ViewBag.Title = "Blank";
    //Layout = "~/Views/Shared/_Certificate.cshtml";
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>

    <script type="text/javascript" src="~/Content/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui-1.9.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="~/Content/js/prettify.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-migrate-1.1.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/js/custom.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Content/js/certi_bootstrap.min.js"></script>
    <script src="~/Content/js/certi_jquery.min.js"></script>
    <script src="~/Content/js/editor.js"></script>
    <script>
            jQuery.noConflict();
			jQuery(document).ready(function() {
				jQuery("#txtEditor").Editor();
			});
    </script>
    <link href="~/Content/css/certi_bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/certi_font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/editor.css" type="text/css" rel="stylesheet" />
   
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 nopadding">
                        <textarea id="txtEditor"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <span>&copy; Krishna Hospital</span>
    </div>
    <!--footer-->
</body>
</html>

