
@{
    ViewBag.Title = "Fit";
    Layout = "~/Views/Shared/_Certificate.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <script src="~/Content/js/certi_bootstrap.min.js"></script>
    <script src="~/Content/js/certi_jquery.min.js"></script>
    <script src="~/Content/js/editor.js"></script>
    <script>

        jQuery.noConflict();
        jQuery(document).ready(function () {
            jQuery("#txtEditor").Editor();
            var content = "FIT CERTFICATE			    To whom so ever it may concern			    This is to certify that Mr/Mrs/Miss _____________________________________________,___ YRS, M/F had undergone my treatment/procedure for _____________________________________ on __/__/____. He/She was unfit from __/__/____ to __/__/____.                He may join his/her duty/study/work from__/__/____ onwards.";
            jQuery('.Editor-editor').text(content);
        });
    </script>
    <link href="~/Content/css/certi_bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/certi_font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/editor.css" type="text/css" rel="stylesheet" />

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 nopadding">
                        <textarea id="txtEditor"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <span>&copy; Krishna Hospital</span>
    </div>
    <!--footer-->
</body>
</html>


@*<!DOCTYPE html>
    <html>
    <head>
      <script src="//cloud.tinymce.com/stable/tinymce.min.js"></script>
      <script>tinymce.init({ selector:'textarea' });</script>
    </head>
    <body>
        <textarea id="txtEditor">
            FIT CERTFICATE
            To whom so ever it may concern
            This is to certify that Mr/Mrs/Miss _____________________________________________,___ YRS, M/F had undergone my treatment/procedure for _____________________________________ on __/__/____. He/She was unfit from __/__/____ to __/__/____.
            He may join his/her duty/study/work from__/__/____ onwards.
        </textarea>
    </body>
    </html>*@
